# enable apache rewrite engine
RewriteEngine on

# Deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Push every request to index.php
RewriteRule ^(.*)$ index.php [QSA]

# Deny access to .htaccess
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

# Hide the contents of directories
IndexIgnore *

# Deny access to all php files
<Files ~ "\.php$">
    Order allow,deny
    Deny from all
</Files>

# Deny access to json files
<Files ~ "\.json$">
    Order Allow,Deny
    Deny from all
</Files>

# Deny access to lock files
<Files ~ "\.lock$">
    Order Allow,Deny
    Deny from all
</Files>

# Deny access to folders
RewriteRule ^src/ - [F,L]
RewriteRule ^logs/ - [F,L]
RewriteRule ^config/ - [F,L]
RewriteRule ^bootstrap/ - [F,L]
RewriteRule ^.idea/ - [F,L]
RewriteRule ^.git/ - [F,L]

# Hide all indexes
Options -Indexes
